.btn {
    text-align: center;
}

h1 {
    font-family: serif;
}

#number {
    font-size: 5.5rem;
}

#homeInfo {
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: 1.2rem;
}

#donateInfo {
    font-size: 1.15rem;
    padding-top: 4%;
    padding-bottom: 4%;
}

.home {
    font-size: 1.5rem;
}